{% extends "layout.html" %}

{% block title %}
Steam Random Game Picker
{% endblock %}

{% block main %}
<h2>Hello {{ nickname }}!</h2>
<image src={{ avatar }} />
<h4>{{ tot_games }} Games Owned</h4>
<form action="/filters" method="post">
  <fieldset>
    <legend><h3>Make your choices</h3></legend>
    <div>
      <div>
        <input id="any_game" name="filter" value="any_game" placeholder="Any Game" type="radio" checked />
        <label for="any_game">Any game</label>
        <input id="never_played" name="filter" value="never_played"placeholder="Never Played Games" type="radio" />
        <label for="never_played">Never played games only</label>
        <input id="only_played" name="filter" value="only_played"placeholder="Only Played Games" type="radio" />
        <label for="only_played">Already played games only</label>
      </div>
      <div>
        <input id="top_5" name="filter" value="top_5" placeholder="Top 5 Most Played Games" type="radio" />
        <label for="top_5">Top 5 played games only</label>
        <input id="top_10" name="filter" value="top_10" placeholder="Top 10 Most Played Games" type="radio" />
        <label for="top_10">Top 10 played games only</label>
        <input id="top_20" name="filter" value="top_20" placeholder="Top 20 Most Played Games" type="radio" />
        <label for="top_20">Top 20 played games only</label>
      </div>
    </div>
    <div>
      <button class="button" type="submit">Get a random game</button>
    </div>
  </fieldset>
</form>
{% endblock %}
