{% extends "layout.html" %}

{% block title %}
Steam Random Game Picker
{% endblock %}

{% block main %}
<form action="/" method="post">
  <div>
    <input id="username" name="username" placeholder="Username" type="username" />
    <button type="submit">Submit</button>
  </div>
</form>
<div id="error">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}
  {% endif %}
  {% endwith %}
</div>
{% endblock %}
